* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-game {
  display: grid;
  width: 600px;
  height: 600px;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  margin-top: 10px;
  user-select: none;
  margin: auto;
}

.item {
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 150px;
}

.points {
  text-align: center;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.playing {
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 30px;
}

.result {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 15px;
  color: black;
}






